.chua-all{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.img{
    background-image: url('girl.jpg');
    background-size: cover;
    min-height: 100%;
    background-position: center;
    width: 45%;
    height: 100vh;
    position: sticky;
    top: 0;
}
.img222{
    background-image: url('girl.jpg');
    background-size: cover;
    min-height: 100%;
    background-position: center;
    width: 65%;
    height: 534px;
    display:none;
}
*{
    box-sizing: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.right{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    margin-top: 10%;
    height: 100%;
}
.right h1{
    font-size: 69px;
}
.right h2{
    font-size: 15px;
}
.right h3{
    font-size: 30px;
    color: rgb(157, 164, 170);
    margin-left:-65%;
}
.right h4{
    font-size: 15px;
    padding: 3%;
    color: rgb(157, 164, 170);
}
.dowload{
    width: 120px;
    height: 40px;
}
.icon::before{
    content: "\f019";
    font: normal normal normal 14px/1 FontAwesome;
}
p
{
    background-color:  rgb(242, 244, 247);
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p:hover{
    background-color:rgb(210, 219, 228);
}

.chua-img-left{
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 100%;
    margin-left:-10%;
}
.right h3{
    margin-left: -78%;
}
.chuaimg{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 8px;
}
.chuaimg img{
    margin-bottom: 5%;
}
ul{
    color: rgb(157, 164, 170);
    font-size: 30px;
    list-style: none;
    margin-right: 2%;
    margin-left: -8%;
}
ul li{
    color: rgb(157, 164, 170);
    font-size: 15px;
    margin-top: 4%;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.thanhskill{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    color: white;
    margin-top: 3%;
}

.thanhskill-1{
    background-color: rgb(157, 164, 170) ;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
}
.thanhskill-1-1{
    background-color: rgba(192, 201, 209, 0.829);
    width: 5%;
}
.thanhskill-2{
    background-color: rgb(157, 164, 170) ;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
}
.thanhskill-2-2{
    background-color: rgba(192, 201, 209, 0.829);
    width: 15%;
}
.thanhskill-3{
    background-color: rgb(157, 164, 170) ;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.thanhskill-3-3{
    background-color: rgba(192, 201, 209, 0.829);
    width: 20%;
}
.thank{
    background-color: rgb(157, 164, 170) ;
    width: 100%;
    height: 120px;
    margin-top: 7%;
    display: flex;
    align-items: center;
    flex-direction:row;
    justify-content: center;
}
.thank li{
    color: white;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul p{
    margin-left: 6%;
    color: black;
    font-size: 15px;
    margin: 5% 0 5% 0%;
}
.my{
    display: flex;
    flex-direction: column;
   
}
.my1{
    display: flex;
    flex-direction:row;
}
.chua-anh{
    display: flex;
    flex-direction: column;
}
.chua-anh-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
}
.chua-anh-1-1{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}
.chua-anh-1-1-1{
    display: flex;
    flex-direction: row;
}
.chua-anh-1 img
{
    border-radius: 100%;
}
.chua-anh-1-1-1 a{
    color: black;
    font-size: 15px;

}
.chua-anh-1-1 li{
    color:rgb(157, 164, 170) ;
    margin-top: 0.2%;
}
.my-price{
    display: flex;
    flex-direction: row;
    width: 99%;
    margin-top: 4%;
}
.my-basic{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.my-pro{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.basic{
    background-color: rgb(157, 164, 170);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 80px;
    font-size: 23px;
}
.cot{
    box-shadow: -2px 2px 4px -1px rgba(157, 164, 170, 0.363) ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cot h1{
    height: 40px;
    border-bottom: 0.5px solid rgba(157, 164, 170, 0.363);
    font-size: 15px;
    width: 100%;
    text-align: center;
}
.cot .di{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cot h2{
    height: 80px;
    border-bottom: 0.5px solid rgba(157, 164, 170, 0.363);
    font-size: 15px;
    width: 100%;
    text-align: center;
}
h2 a{
    font-size: 30px;
}
.my-basic:hover{
    box-shadow:6px -5px 100px 0px  rgba(157, 164, 170, 0.363);
}
.sign-up{
    background-color:white;
    color: black;
    font-size: 14px;
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chua-sign-up{
    background-color: rgba(157, 164, 170, 0.363);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 113%;
    margin-top: -3.2%;
}
.sign-ups{
    width: 100%;
    height: 80px;
}
.sign-up:hover{
    background-color: black;
    color: white;
}
.pro{
    background-color: black;
}
.in-cot{
    box-shadow: 3px 0px 8px 3px  rgba(157, 164, 170, 0.363);
}
.left{
    margin-left: 1.5%;
}
.contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
.in-ct{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.vitri::before{
    content: "\f041";
    font: normal normal normal 33px/1 FontAwesome;
    color: rgb(32, 36, 39) ;
    margin-right: 35px;
}
.in-ct h1{
    font-size: 17px; 
}
.phone::before{
    content: "\f095";
    font: normal normal normal 33px/1 FontAwesome;
    color: rgb(32, 36, 39) ;
    margin-right: 28px;
}
.email::before{
    content: "\f0e0";
    font: normal normal normal 33px/1 FontAwesome;
    color: rgb(32, 36, 39) ;
    margin-right: 20px;
}
.cl{
        filter: grayscale(75%);
}
ul span{
    font-size: 15px;
}
.w3-input {
    padding: 10px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
.w3-padding{
    padding-top: 16px!important;
    padding-bottom: 16px!important;
}
.w3-border {
    border: 1px solid #ccc!important;
}
.chi::before{
    content: "\f1d8";
}
.fb::before{
    content: "\f230";
}
.ing::before{
    content: "\f16d";
}
.spc::before{
    content: "\f2ab";
}
.ptr::before{
    content: "\f231";
}
.twt::before{
    content: "\f099";
}
.link::before{
    content:  "\f0e1";
}
.link::before, .chi::before, .fb::before, .ing::before, .spc::before, .twt::before, .ptr::before{
    font: normal normal normal 20px/1 FontAwesome;
    color: rgb(32, 36, 39);
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pad{
    padding: 3px;
}
.my h1{
    font-size: 15px;
    text-align: center;
}

.mn::before{
    content: "\f0c9";
    font: normal normal normal 30px/1 FontAwesome;
    display: inline-block;
    font-size: inherit;
    font-size: 40px;
    margin-left: 1400%;
    padding: 5px;
}
.mn:hover{
    color: #757575;
}
@media only screen and (max-width: 1025px) 
{
    .chua-all{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .img{
        display:none;
    }
    .img222{
        display: block;
    }
    .right{
        width: 85%;
        margin: 0 auto;
    }
    @media screen and (max-width:780px){
        .chua-img-left{
            display: flex;
            flex-direction: column;
        }
        .my-basic{
            width: 88%;
            flex-direction: column;
            margin-left: 10%;
        }
        .my-price{
            display: flex;
            flex-direction: row; 
            width: 100%;
        }
        .chuaimg{
            margin-left: 5%;
        }
    }
}