* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: rgb(224, 217, 217);
  z-index: -1;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: -5%;
  padding-bottom: 10px;
  position: fixed;
  z-index: 1;
}
.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60%;
}
li {
  list-style: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.header-menu li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.header-menu li {
  text-align: center;
  margin-left: 8%;
}

.header .hi {
  width: 170px;
  height: 50px;
  border-radius: 30px;
  background-color: rgb(252, 125, 6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.image-building {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 700px;
  overflow: hidden;
  margin-top: 6%;
}
.between-of-web {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 7%;
}
.ev {
  border: 0.5px solid rgb(100, 142, 206);
  width: 300px;
  position: relative;
}
.circle {
  border: 1px solid rgb(100, 142, 206);
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 100%;
}
.between-of-web li {
  text-align: center;
  font-size: 28px;
}
.between-of-web ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.address-HIT {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}
.fb-add-gr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fb-add-gr p {
  color: #aca8a8;
  font-size: 14px;
  margin-left: 7%;
}
.fb-add-gr li {
  margin-right: 52%;
  margin-bottom: 3%;
}
.icon-and-information {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 12%;
}
.fb {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
}
.fb img {
  color: #aca8a8;
}
.fb li {
  font-size: 14px;
  color: #aca8a8;
  margin: 0;
  padding: 0;
}
.fb a {
  margin: 0 0 3px 3px;
  font-size: 13px;
  color: rgb(100, 142, 206);
  text-decoration: none;
}
.icon-and-information li {
  font-size: 13px;
  color: #aca8a8;
}
.fb a:hover {
  text-decoration: underline;
  color: rgb(72, 118, 219);
}
.icon-and-information p {
  font-size: 13px;
  color: #aca8a8;
  width: 100%;
  margin-left: 9px;
}
.our-classes {
  display: flex;
  flex-direction: column;
}
.java-and-web {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}
.java,
.Web {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.java ul,
.Web ul {
  display: flex;
  flex-direction: column;
}
.java ul p,
.Web ul p {
  color: #aca8a8;
  font-size: 13.5px;
}
.java ul li,
.Web ul p {
  margin-right: 88%;
}
.circle-classes {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 6px #ebe7e7;
  font-size: 19px;
  font-weight: 600;
}
.img-icpc-acm {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.img-icpc-acm img {
  padding: 11px;
  width: 30%;
  transition: all 0.4s linear;
  height: auto;
}
.cols {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.img-icpc-acm .cols img:hover,
.img-icpc-acm img:hover {
  transition: 0.8s all;
  transform: scale(1.1);
  position: relative;
}
.footer {
  width: 100%;
  height: 120px;
  background-color: rgb(252, 125, 6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HIT-leaders {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 5%;
  justify-content: space-around;
}
.hp {
  display: flex;
  flex-direction: column;
  width: 30%;
  box-shadow: 1px 1px 5px 1px rgb(155, 151, 151);
}
.HIT-leaders ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.HIT-leaders ul li {
  font-size: 20px;
}

.HIT-leaders ul:hover {
  background-color: rgb(252, 125, 6);
  color: white;
  transition: 0.5s all;
}
h3 {
  font-size: 25px;
}
