body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: azure;
  flex-direction: column;
  width: 100%;
  z-index: -111;
}
.user-avt {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
body .row {
  display: flex;
  justify-content: center;
}

.card a {
  text-decoration: none;
  color: black;
}
.row1 {
  display: flex;
  flex-direction: row;
}
.row1 img {
  width: 50%;
}
.column1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row1 > img {
  width: 550px;
}
li {
  list-style: none;
}
.row12 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}
.row12 a {
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.menu {
  height: 50px;
  background-color: rgb(157, 135, 235);
}
.p-3 div a {
  text-decoration: none;
  color: white;
}
div li {
  list-style: none;
}
