* {
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
.header {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
}
.chua-shr {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 1% 0 0 10%;
  justify-content: center;
  align-items: center;
}
.chua-shr .search {
  border-radius: 20px;
  width: 55%;
  margin-left: 10%;
}

.chua-shr a {
  width: 5%;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-right: 1.5%;
}
.chua-shr a:hover {
  text-decoration: none;
}
nav a:hover {
  color: #65509e;
}

.cr {
  width: 40%;
}
nav a {
  font-size: 13px;
  font-weight: 500;
}
.chua-zing {
  width: 20%;
}
.chua-login {
  width: 40%;
  display: flex;
  flex-direction: row;
  margin-right: 10%;
}
.chua-login a {
  margin-left: 25%;
}
h6 {
  padding-top: 10px;
}
.chua-nd {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 80%;
  margin: 2% 0 0 7.9%;
}
.chua-nd li {
  padding-left: 20px;
  font-family: Roboto, sans-serif;
  text-align: center;
  position: relative;
}

.chua-nd li a:hover {
  color: #65509e;
}
.chua-nd li a {
  text-decoration: none;
  color: black;
  font-size: 13px;
}
.chuamenu1 {
  position: absolute;
  display: none;
  width: 100%;
  top: 100%;
  border-radius: 8px;
  z-index: 10;
}
.menu1 {
  color: black;
  position: relative;
  height: 30px;
  width: 130px;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  box-shadow: 0 0 0 0.5px black;
}
li:hover .chuamenu1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.menu1:hover {
  background-color: hsla(0, 0%, 90%, 0.877);
}
.chuamenu2 {
  position: absolute;
  width: 100%;
  left: 100%;
  display: none;
  top: 0%;
}
.menu1:hover .chuamenu2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.menu1:hover a:hover {
  color: black;
}

.member {
  background-color: #f7f7f7;
  margin: 8px;
  height: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chua-member-in-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.chua-member-in-img ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin-top: 12px;
}
.chua-member-in-img ul p {
  font-size: 11.5px;
  color: #a0a0a0;
}

#vietnam {
  width: 100%;
  margin-top: 20px;
}
#hanquoc {
  width: 100%;
  margin-top: 25px;
}
#aumy {
  width: 100%;
  margin-top: 25px;
}
#vietnam h4,
#hanquoc h4,
#aumy h4 {
  margin-left: 10%;
  font-weight: 700;
}

.on-header {
  width: 100%;
  height: 40px;
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a {
  color: #777777;
  font-weight: 550;
}
.ic-noti:before {
  content: "\e018";
}
.icon {
  display: inline-block;
}
h4:hover {
  color: #65509e;
}
span {
  text-align: center;
}
.container li a {
  list-style: none;
  color: #65509e;
  margin-top: 2.5%;
}
.container a:hover {
  color: #65509e;
  text-decoration: none;
}
.icon-button {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f1f1f1;
  cursor: pointer;
}
.ic-upload:before {
  content: "\56";
}
.icon-button:hover {
  background-color: #e2dede;
}
ul a:hover {
  text-decoration: none;
}
a b:hover {
  color: #65509e;
}
.chua-member-in-img a:hover {
  text-decoration: none;
}
a b {
  font-size: 13px;
}

.chua-member-in-img img {
  width: 100%;
  height: auto;
  transition: all 0.4s linear;
}
.chua-img-hu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  overflow: hidden;
}
.chua-img-hu:hover img {
  transform: scale(1.05);
  transition: all 0.4s linear;
  position: relative;
}
.icon-play::before {
  content: "\5a";
  font-size: 37px;
  display: none;
}
.chua-img-hu:hover .icon-play::before {
  display: inline-block;
}
[class^="ic-"]:before,
[class*=" ic-"]:before {
  font-family: "mp3-zing" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.quan-tam {
  height: 28px;
  width: 100px;
  color: #65509e;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
}
.quan-tam li {
  list-style: none;
  font-size: 12px;
  margin-bottom: 4%;
}
.quan-tam:hover {
  background-color: white;
  box-shadow: 0 0 15px 0 #dbdada;
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #888;
}
.footer-in-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-in-image li {
  list-style: none;
  padding: 1%;
  font-size: 11px;
}
.footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer ul li {
  padding: 2%;
  font-size: 11px;
}
.exit1 {
  width: 80%;
  border: 0.05px solid rgb(240, 233, 233);
  margin: 3% 0 3.5% 10%;
}
.footer ul li:hover {
  color: #65509e;
}
.footer li:hover a:hover {
  color: #65509e;
}
.footer ul li a {
  color: #888;
}
#vietnam a,
#hanquoc a,
#aumy a {
  color: black;
}
#vietnam a:hover,
#hanquoc a:hover,
#aumy a:hover {
  text-decoration: none;
}
.chua-icon-go-up1 {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: white;
  box-shadow: 0 0 15px 0 #dbdada;
  display: flex;
  align-items: center;
  margin: -10% 0 0 94%;
  position: fixed;
  top: 96%;
}
.chua-icon-go-up2 {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: white;
  box-shadow: 0 0 15px 0 #dbdada;
  display: flex;
  align-items: center;
  margin: -10% 0 0 94%;
  position: fixed;
  top: 105%;
}
.chua-icon-go-up1 .ic-go-up:hover {
  color: #65509e;
}
.chua-c {
  display: flex;
  flex-direction: column;
}
a .chua-icon-go-up1 .icon {
  color: #888;
}
