.header{
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 70px;
}
*{
    margin: 0;
}
.header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-family: sans-serif;
    color: white;
    margin: 0;
    width: 30%;
    justify-content: space-around;
}
.vip{
    color: rgba(230, 230, 55, 0.849);
}
a{
    text-decoration: none;
}

