* {
  margin: 0;
  font-size: 14px;
  font-family: Roboto, sans-serif;
}
nav a {
  color: #a0a0a0;
  font-weight: 550;
}
nav a:hover {
  color: #65509e;
}
.table {
  margin: 10px;
}
.chua-image {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
.chua-image img {
  width: 190px;
  height: auto;
  transition: all 0.4s linear;
  border-radius: 5px;
  overflow: hidden;
}
.chua-image:hover a img {
  transform: scale(1.05);
  transition: all 0.4s linear;
  position: relative;
  filter: saturate(2) grayscale(30%) brightness(40%);
}
.member {
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 20%;
  margin-bottom: 2%;
}
.member ul {
  margin: 0;
  padding: 0;
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.member ul li {
  list-style: none;
  color: #a0a0a0;
  font-size: 12.5px;
}

.container b,
.container b a {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.member ul a {
  height: 60%;
}
.member ul a p {
  color: #32323d;
  font-weight: 550;
}

.member span {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.member span a:hover,
.member span a li:hover {
  text-decoration: none;
  color: #65509e;
}
.member ul a:hover,
.member ul a p:hover {
  text-decoration: none;
  color: #65509e;
}

.chua-ic {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chua-ic:hover {
  background-color: #b6b1b1;
}
.chua-image .icon {
  display: none;
}
.member:hover .chua-image .icon {
  display: inline-block;
}
[class^="ic-"]:before,
[class*=" ic-"]:before {
  font-family: "mp3-zing" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.chua-image a:hover {
  text-decoration: none;
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.member:hover .chua-image .image-overlay {
  opacity: 1;
}
.pad {
  padding: 0;
  margin: 0;
}
.con {
  position: relative;
  width: 100%;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

#vietnam a,
#hanquoc a,
#aumy a {
  color: black;
  font-weight: 700;
}
#vietnam a:hover,
#hanquoc a:hover,
#aumy a:hover {
  text-decoration: none;
}
.container a:hover h4 {
  color: #65509e;
}
.chua-icon-go-up1 {
  width: 38px;
  height: 38px;
  border-radius: 100%;
  background-color: white;
  box-shadow: 0 0 15px 0 #dbdada;
  display: flex;
  align-items: center;
  margin: -10% 0 0 94%;
  position: fixed;
  top: 96%;
}
.chua-icon-go-up2 {
  width: 38px;
  height: 38px;
  border-radius: 100%;
  background-color: white;
  box-shadow: 0 0 15px 0 #dbdada;
  display: flex;
  align-items: center;
  margin: -10% 0 0 94%;
  position: fixed;
  top: 105%;
}
.chua-icon-go-up1 .ic-go-up:hover {
  color: #65509e;
}
.chua-c {
  display: flex;
  flex-direction: column;
}
a .chua-icon-go-up1 .icon {
  color: #888;
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #888;
}
.footer-in-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-in-image li {
  list-style: none;
  padding: 1%;
  font-size: 11px;
}
.footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer ul li {
  padding: 2%;
  font-size: 11px;
}
.exit1 {
  width: 80%;
  border: 0.05px solid rgb(240, 233, 233);
  margin: 3% 0 3.5% 10%;
}
.footer ul li:hover {
  color: #65509e;
}
.footer li:hover a:hover {
  color: #65509e;
}
.footer ul li a {
  color: #888;
}
.footer a:hover {
  text-decoration: none;
}
